<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="turbo-cache-control" content="no-cache">
    <title><%= content_for?(:title) ? yield(:title) : "Factura Electrónica CR" %></title>

    <link rel="icon" type="image/x-icon" href="<%= asset_path('favicon.ico') %>">

    <%# Google Material Icons %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-50 text-gray-900 antialiased" data-controller="session-sync">
    <%# Toast container global %>
    <div id="toast-container" class="fixed top-4 right-4 z-50 flex flex-col space-y-2 pointer-events-none"></div>

    <%= yield %>
  </body>
</html>
